@charset "utf-8";

@font-face {
    font-family: 'sketch';
    src: url(fontes/Sketchzone.otf) format('opentype');
    font-weight: 200;
    font-style: normal;

}
/*corpo da tabela*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*corpo da tabela*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    background-color: rgb(212, 209, 209);
}


nav#redes-sociais ul {
    list-style: none;
    padding: 5px 20px 0px 20px;      
}

nav#redes-sociais ul li {
    display: inline;    
}

nav#redes-sociais img {
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline;
}
nav#redes-sociais img:hover {
    border: 1px solid rgb(255, 255, 255);
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px 12px rgb(0, 0, 0);
    transition: transform 0.4s, border .4s;
}

/*título h1*/

.espandido {
    box-shadow: none;
    height: 30px;
}
.espandido:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

div#titulo {
    max-width: 700px;    
    margin: auto;
    background-color: rgb(255, 255, 255);    
    border-radius: 20px;
    margin-bottom: 10px;
    transition: .3s;    
}

div#titulo:hover {
    box-shadow: 5px 5px 20px rgb(5, 255, 43);
}

h1{
    font-family: 'sketch', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    color: rgb(55, 84, 4);
    padding-bottom: 15px;
    padding-top: 15px; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.477);
    border-radius: 15px;       
}



table {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.29);
    border-radius: 20px;         
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 10px;
    border-spacing: 6px;
}


#rodape{
    border-top: 1px solid green;
    width: 90%;
    margin: auto;
}
#rodape p {
    padding: 25px;
    color: rgb(2, 60, 4);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
}


div#container {
    overflow-x: auto;
    padding-bottom: 10px;
    padding-top: 10px;       
}

#container-legenda {
    max-width: 900px;
    margin: auto;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.356); 
}

#legenda {
     background-color: rgb(255, 255, 255);
     list-style: none;
}
#legenda > li {
    display: inline-block;
    margin-right: 10px;
}

p.nomes {
    color: rgb(12, 12, 189);
    margin: 0px;
    background-color: rgb(255, 255, 255);
    text-align: right;    
    padding-left: 10px;    
}
    
.cor-legenda-metais, .cor-legenda-semimetais, .cor-legenda-nmetais, .cor-legenda-mat, .cor-legenda-gn, .cor-legenda-l, .cor-legenda-a,.cor-legenda-halogenios, .cor-legenda-mdt, .cor-legenda-outros {
    background-color: blueviolet;    
    padding-left: 20px; 
    margin: 5px;     
}

.cor-legenda-nmetais {
    background-color: rgb(155, 217, 48);
}
.cor-legenda-gn {
    background-color: rgba(137, 43, 226, 0.573);
}
.cor-legenda-mat {
    background-color: rgb(255, 140, 0);
}
.cor-legenda-semimetais {
    background-color: rgba(255, 217, 0, 0.532);
}

.cor-legenda-mdt {
    background-color: rgb(123, 181, 66);
}
.cor-legenda-halogenios {
    background-color: rgba(34, 139, 34, 0.559);
}
.cor-legenda-l {
    background-color: rgb(7, 202, 228);
}
.cor-legenda-a {
    background-color: rgb(29, 144, 231);
}
.cor-legenda-metais {
    background-color: rgba(167, 100, 100, 0.995);
}
.cor-legenda-outros {
    background-color: rgba(122, 120, 120, 0.532);
}

td {
    border-radius: 15px; 
    transition: .4s; 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.536);         
}

td:hover {
    background-color: rgb(255, 255, 255);
}


p.especial {
    text-align: center;
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
}
p.nespecial {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: bold;
    padding-top: 12px;
    padding: 5px 1px;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.638);
}


p.numero {
    color:  rgb(255, 255, 255);
    width: 19px;
    border-radius: 50%;
    font-weight: bold;
    font-size: .5em;
    padding: 3px; 
    margin-right: 3px;
    background-color: rgb(135, 8, 226);
    margin-top: 3px;
    margin-left: 4px;
     
}

p.simbolo {
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.6em;
    text-align: center;
    padding: 0px 15px;
}

p.nome {
    color: black;
    font-family:sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: .6em; 
      
}

p.numatomico {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: .6em;      
    border-radius: 0px 0px 15px 15px;
    padding: 3px;
}




.hidrogenio{
    background-color: rgb(155, 217, 48);
}
/*
.hidrogenio > p.numero {
    padding-left: 8px;
}
*/

.metaisalcalinos{
    background-color: rgba(167, 100, 100, 0.995);
}
/*
.metaisalcalinos:hover {
    background-color: aliceblue;
}*/




.metaisalcalinosterrosos{
    background-color: rgba(251, 140, 5, 0.781);
}
/*
.metaisalcalinosterrosos:hover{
    background-color: aliceblue;
}*/




.metaisdetransicao{
    background-color: rgb(123, 181, 66);
}
/*
.metaisdetransicao:hover{
    background-color: aliceblue;
}*/




.metaispostransicao{
    background-color: rgba(255, 20, 145, 0.507);
}
/*
.metaispostransicao:hover{
    background-color: aliceblue;
}*/




.gasesnobres{
    background-color: rgba(137, 43, 226, 0.573);
}
/*
.gasesnobres:hover{
    background-color: aliceblue;
}*/


.naometaisdiatomicos{
    background-color: rgba(255, 68, 0, 0.542);
}
/*
.naometaisdiatomicos:hover{
    background-color: aliceblue;
}*/



.semimetais{
    background-color: rgba(255, 217, 0, 0.532);
}
/*
.semimetais:hover{
    background-color: aliceblue;
}*/

.naometaispoliatomicos{
    background-color: rgba(34, 139, 34, 0.559);
}
/*
.naometaispoliatomicos:hover{
    background-color: aliceblue;
}*/


.propquimicasdesc{
    background-color: rgba(122, 120, 120, 0.532);
}
/*
.propquimicasdesc:hover{
    background-color: aliceblue;
}*/




.lantanideos{
    background-color: rgb(7, 202, 228);
}
/*
.lantanideos:hover{
    background-color: aliceblue;
}*/




.actinideos{
    background-color: rgb(29, 144, 231);
}
/*
.actinideos:hover{
    background-color: aliceblue;
}*/


